<p>
  <h1>All tasks</h1>
</p>

<p>
  <div><%= link_to 'Add Task', new_task_path %></div>
  <br>
  <table class="table table-striped">
    <tbody>

      <% if @tasks.any? %>
        <thead>
          <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Family Member</th>
            <th>Action</th>
          </tr>
        </thead>
        <%= render partial: 'task', collection: @tasks %>
      <% else %>
        <tr>No task found!</tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <% if @tasks.any? %>
    <%= will_paginate @tasks, :container => false %>
    <br>
    <%= page_entries_info @tasks %>
  <% end %>
</p>
